@import 'tailwindcss';

@theme {
  --color-bold: #1b1f23;
  --color-light: #5c6675;
  --color-primary: rgb(4 47 46);
  --color-primary-light: #a7e8e0;
  --color-transparent-white: rgba(255, 255, 255, 0.4);
  --main-bg-color: #00bfa5;
}

