@import 'tailwindcss';

/* @font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Karla.ttf') format('truetype');
} */
@theme {
  --color-transparent-white: rgba(255, 255, 255, 0.4);
  --color-primary: rgb(4 47 46);
  --color-primary-light: #a7e8e0;
  --main-bg-color: #00bfa5;
  --color-light: #5c6675;
  --color-bold: #1b1f23;
}
:root {
  --color-primary-light: #a7e8e0;
  --color-primary-rgb: 4 47 46;
  --main-bg-color: #00bfa5;
  --text-color-light: #5c6675;
  --text-color-bold: #1b1f23;
}
@layer {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-primary-light);
    border: 1px solid #fff;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-primary-rgb) / 85%);
    border: 1px solid #fff;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--color-primary));
  }
}

/* html {
  font-family: 'Karla', sans-serif;
} */
html {
  background-color: var(--main-bg-color);
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* ::selection {
  background-color: var(--primary-color);
  color: var(--text-color);
} */
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

html.dark {
  background-color: var(--color-primary);
  color: #fff;
}
/* .dark .nav-links a {
  color: #fff;
} */
