---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class='py-6 px-4 flex justify-between container mx-auto'>
  
  <p class='text-sm italic flex-1'>
    {t('footer.about')}
    <a target='_blank' href='https://astro.build/'>Astro</a>
  </p>
  <p class='text-sm'>
    <a href='mailto:rabadanoscar@outlook.es'>Contact: rabadanoscar@outlook.es</a
    >
  </p>
</footer>
