---
const profilePicture = '/profile.jpg';
const name = 'Óscar Rabadán';
---

<nav>
  <a href='/'>
    <div id='mobile-profilePicture'>
      <img src={profilePicture} alt={name} />
    </div>
  </a>
  <a href='/'><h1>{name}</h1></a>

  <div class='hamburger'>
    <span class='line'></span>
    <span class='line'></span>
    <span class='line'></span>
  </div>
</nav>
<style>
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  #mobile-profilePicture {
    display: flex;
    align-items: center;
  }
  #mobile-profilePicture img {
    border-radius: 10px;
    object-fit: cover;
    padding: 6px;
    max-height: 64px;
    width: 100%;
  }
  /* p {
    font-size: 1.6rem;
    line-height: 0;
    font-weight: 700;
  } */
  .hamburger {
    cursor: pointer;
    padding-right: 1rem;
    padding-block: 18px;
  }
  @media (min-width: 636px) {
    .hamburger {
      padding-right: 2rem;
    }
  }
  .hamburger .line {
    background-color: black;
    display: block;
    height: 3px;
    margin-block: 4px;
    width: 36px;
  }
  @media (min-width: 992px) {
    h1 {
      display: none;
    }
    .hamburger,
    #mobile-profilePicture {
      display: none;
    }
  }
</style>
