---
import Hamburger from './Hamburger.astro';
import Nav from './Nav.astro';
// import ThemeIcon from './ThemeIcon.astro';
---

<header class='container mx-auto sticky left-0 top-4 z-10 px-3'>
  <nav>
    <Hamburger />
    <!-- <ThemeIcon /> -->
    <Nav />
  </nav>
</header>

