---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul class='flex gap-4 pl-4 lg:pl-0 mt-2 lg:mt-0'>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={translatePath("/", lang)}>
          {label}
        </a>
      </li>
    ))
  }
</ul>
