---
import LanguagePicker from '@/components/LanguagePicker.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
//  import ThemeIcon from './ThemeIcon.astro';
---

<div
  class='flex justify-between m-0 py-1 px-6 w-full rounded-2xl'
  id='nav-links'>
  <a href='#bio'>
    <div class='name flex items-center gap-2'>
      <div class='flex items-center'>
        <div class='h-12 w-12'>
          <img
            class='p-2 rounded-xl'
            src='/profile.jpg'
            alt='Foto de perfil de Óscar Rabadán'
          />
        </div>
        <p>Óscar Rabadán</p>
      </div>
    </div>
  </a>
  <ul>
    <li><a href='#bio'>{t('nav.home')}</a></li>
    <li><a href='#work'> {t('nav.work')}</a></li>
    <li><a href='#collaborations'> {t('nav.collaborations')}</a></li>
    <!-- <a href='#'>Resources</a>
  <a href='#about'>About Me</a> -->
    <li><a href='#contact'> {t('nav.contact')}</a></li>
  </ul>
  <div class='flex items-center gap-8'>
    <LanguagePicker />
    <!-- <ThemeIcon /> -->
  </div>

  <style>
    /* estilos de la barra de navegación*/

    #nav-links {
      background-color: rgb(var(--color-primary-rgb) / 70%);
      display: none;
      backdrop-filter: blur(10px);
      align-items: center;
    }

    #nav-links .name {
      animation: header-show-name 0.3s linear both;
      animation-timeline: scroll();
      animation-range: 0 250px;
    }

    @keyframes header-show-name {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 100%;
      }
    }
    #nav-links li {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      padding: 10px 0;
    }

    @media (min-width: 992px) {
      #nav-links {
        display: flex;
      }
      #nav-links li {
        display: inline-block;
        padding: 15px 20px;
      }
    }
  </style>
</div>
