---

---

<div class='nav-links'>
  <a href='#work'>Featured Work</a>
  <a href='#toolkit'>Toolkit</a>
  <a href=''>Resources</a>
  <a href='#about'>About Me</a>
  <a href='#contact'>Contact</a>
</div>
