---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

  <li><a href='#bio'>{t('nav.home')}</a></li>
  <li><a href='#work'> {t('nav.work')}</a></li>
  <li><a href='#collaborations'> {t('nav.collaborations')}</a></li>
  <!-- <a href='#'>Resources</a>
  <a href='#about'>About Me</a> -->
  <li><a href='#contact'> {t('nav.contact')}</a></li>

<style>
   li {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0;
  }

  @media (min-width: 992px) {
 
     li {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
