---

---

<section>
  <div>
    <h1>Frontend Developer</h1>
    <h2>Mi nombre es Óscar Rabadán</h2>
  </div>
</section>
<style>
  section {
    align-items: center;
    display: flex;
    height: 60vh;
    min-height: 500px;
  }
</style>
