<section class='container mx-auto px-3 my-12'>
  <header>
    <h1 class='text-xl text-start md:text-center font-bold pb-8 lg:pb-12'>
      Projects for fun!
    </h1>
  </header>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3'>
    <article
      class='rounded-lg border-3 border-black/80 hover:scale-105 transition-transform'
    >
      <a target='_blank' href='https://everydog.netlify.app/'
        ><img
          class='rounded'
          src='/apidog.jpg'
          alt='Every Dog shows all dogs filtered by breed group and detailed information about every dog'
        /></a
      >
    </article>
  </div>
</section>
