---
import '../styles/global.css';
import 'devicon/devicon.min.css';
---

<section>
  <!-- <h2>Toolkit</h2> -->
  <div>
    <ul>
      <li><i class='devicon-react-plain colored'></i>React</li>
      <li><i class='devicon-nextjs-plain colored'></i>NextJS</li>
      <li><i class='devicon-redux-plain colored'></i>Redux</li>
      <li><i class='devicon-astro-plain colored'></i>Astro</li>
    </ul>
    <ul>
      <li><i class='devicon-html5-plain colored'></i>HTML</li>
      <li><i class='devicon-css3-plain colored'></i>CSS</li>
      <li><i class='devicon-sass-plain colored'></i>Sass</li>
      <li><i class='devicon-bootstrap-plain colored'></i>Bootstrap</li>
      <li><i class='devicon-tailwindcss-plain colored'></i>Tailwind CSS</li>
      <li><i class='devicon-figma-plain colored'></i>Figma</li>
    </ul>

    <ul>
      <li><i class='devicon-javascript-plain colored'></i>Javascript</li>
      <li><i class='devicon-typescript-plain colored'></i>Typescript</li>
      <li><i class='devicon-jquery-plain colored'></i>jQuery</li>
      <!-- <li><i class='devicon-php-plain colored'></i>PHP</li> -->
    </ul>
  </div>
</section>
<style>
  h2:after {
    width: 70px;
  }

  section div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 768px) {
    section div {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 992px) {
    section {
      margin-block: 1rem;
    }
  }

  ul {
    background-color: white;
    list-style: none;
    padding: 0.2rem 1rem;
    border-radius: 12px;
    margin-block: 0;
  }

  ul:nth-of-type(1) {
    border-bottom-left-radius: 36px;
  }
  ul:nth-of-type(3) {
    border-bottom-right-radius: 36px;
  }
  li {
    display: flex;
    align-items: center;
    color: var(--text-color-bold);
    margin: 1rem 0;
  }
  i {
    font-size: 1.8rem;
    margin-right: 0.8rem;
  }
</style>
