---
import WorkProps from './WorkProps.astro';
---

<section id='work' class='my-16 lg:my-24 container mx-auto'>
  <h2 class='text-2xl text-center font-semibold lg:pb-8'>Featured Work</h2>

  <div>
    <WorkProps
      image='/tubookbuddy.jpeg'
      title='tuBookBuddy.es'
      firstParagraph='TuBookBuddy es una plataforma web diseñada para amantes de la lectura, donde los usuarios pueden descubrir, organizar y compartir libros de manera sencilla. Desarrollada con Next.js y estilizada con TailwindCSS, la aplicación ofrece una experiencia rápida y fluida.'
      secondParagraph='Cuenta con autenticación mediante Firebase Authentication y almacenamiento en Firestore, permitiendo a los usuarios crear listas personalizadas de libros leídos o pendientes, agregar amigos y explorar recomendaciones.'
      thirdParagraph='La gestión del estado se maneja con React Context API, asegurando una navegación eficiente. Además, integra la API de libros de Google, proporcionando información detallada sobre miles de títulos, incluyendo sinopsis, autores, portadas y ediciones. TuBookBuddy es un proyecto pensado para facilitar la exploración y el seguimiento de lecturas, combinando funcionalidad y diseño moderno para ofrecer una experiencia intuitiva y atractiva.'
      screenshot='/profile.jpg'
    />
  </div>
  <div>
    <WorkProps
      image='/profile.jpg'
      title='Vilatijolo'
      description='Descripción proyecto'
      screenshot='/profile.jpg'
    />
  </div>
</section>

<style>
  div {
    display: flex;
    gap: 40px;
    margin-block: 1.5rem;
    max-width: 100%;
  }
</style>
