---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const videos = [
  {
    id: "u7PYEu5L2AA",
    title: t("youtube.video.one")
  },
  {
    id: "1mFsD4bpWYw",
    title: t("youtube.video.two")
  }
]
---

<section
  class='pt-12 lg:pt-0 pb-12 px-4 scroll-mt-16 lg:scroll-mt-24'
  id='youtube'
>
<header>
    <h2 class='text-2xl lg:text-4xl lg:text-center font-bold pb-6 lg:pb-8'>
    Youtube
  </h2>
</header>

  <p class='xl:text-lg w-full lg:w-8/12 2xl:w-6/12 mx-auto'>
    {t("youtube.description")}
  </p>
  <div class='w-full lg:w-8/12 2xl:w-6/12 mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 pt-12'>
    {
      videos.map((video) => (
      <article
      class='bg-white rounded-xl shadow-lg overflow-hidden hover:scale-105 transition-transform'
    >
      <lite-youtube
        class='aspect-video w-full'
        videoid={video.id}
        title={video.title}></lite-youtube>
    </article>
      ))
    }
   
  </div>
  <div class='mt-12 flex justify-center'>
    <a
      href='https://www.youtube.com/@QuietCodeRoom'
      target='_blank'
      rel='noopener noreferrer'
      class='inline-block border-2 border-white text-white font-medium px-6 py-3 rounded-full shadow hover:bg-gray-400/40 transition'
    >
      {t("youtube.button")}
    </a>
  </div>
</section>
