---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/900.css";
import DotBackground from "../components/DotBackground.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <meta charset='utf-8' />
    <meta
      http-equiv='Content-Security-Policy'
      content="form-action 'self' https://fabform.io;"
    />

    <link rel='icon' type='image/x-icon' href='/favicon_or_large.ico' />
    <meta name='viewport' content='width=device-width' />
    <title>{t("tab.title")}</title>
  </head>
  <body>
    <Header />
    <main>
      <DotBackground />
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
